{% extends 'base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Reservation</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'user_portal/styles.css' %}">
</head>
<body>


    <main class="container">
        <div class="edit_reservation-container">
            <h2>Edit Reservation</h2>
        
            <form method="POST">
                {% csrf_token %}
                
               
                <div class="edit_reservation-form-group">
                    <label for="facility">Facility:</label>
                    <input type="text" id="facility" name="facility" value="{{ reservation.facility }}" required>
                </div>
        
            
                <div class="edit_reservation-form-group">
                    <label for="date">Date:</label>
                    <input type="date" name="date" value="{{ reservation.date|date:'Y-m-d' }}" required>
                </div>
        
                
                <div class="edit_reservation-form-group">
                    <label for="start_time">Start Time:</label>
                    <input type="time" id="start_time" name="start_time" value="{{ reservation.start_time|date:'H:i' }}" required>
                </div>
        
                
                <div class="edit_reservation-form-group">
                    <label for="end_time">End Time:</label>
                    <input type="time" id="end_time" name="end_time" value="{{ reservation.end_time|date:'H:i' }}" required>
                </div>
        
               
                <div class="edit_reservation-actions">
                    <button type="submit" class="edit_reservation-submit-button">Save Changes</button>
                    <a href="{% url 'user_portal:user_myreservation' %}" class="edit_reservation-cancel-button">Cancel</a>
                </div>
            </form>
        </div>
        
    </main>
</body>
</html>
{% endblock %}
