{% extends 'base_email.html' %}
{% block body %}
<p>Hello {{ user.username }},</p>

<p>We received a request to reset your password. Please click the link below to set a new password:</p>

<p><a href="{{ reset_url }}" style="display: inline-block; background-color: #0D47A1; color: white; padding: 10px 15px; text-decoration: none; border-radius: 4px;">Reset Your Password</a></p>

<p>This link is valid for 24 hours. If you didn't request this password reset, you can ignore this email.</p>

<p>Note: This password reset service is only for manually registered accounts. If you use Google to sign in, please use Google's password recovery options.</p>
{% endblock %}
